@model List<Blog.EntityFramework.Production>
@{
    ViewData["Title"] = "个人作品 - 不落阁";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .production-box {
        background-color: #fff;
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.18);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.18);
        box-shadow: 0 1px 3px rgba(0,0,0,0.18);
    }

    .production-cover {
        padding: 3px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #e2e2e2;
    }

        .production-cover img {
            width: 100%;
        }

    .production-title {
        text-align: center;
        margin-top: 7px;
        margin-bottom: 5px;
    }

        .production-title > a {
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            color: #01AAED;
        }

    .production-abstract {
        padding: 3px;
        text-align: center;
        font-size: smaller;
        color: #838383;
        height: 25px;
        overflow: hidden;
    }

    .production-footer {
        font-size: small;
        border-top: 1px solid #e7e7e7;
        box-shadow: 0 1px 0 0 #fff inset;
        color: #8B8B8C;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }

        .production-footer i {
            font-size: 12px !important;
        }
</style>

<div class="layui-container">
    <blockquote class="layui-elem-quote sitemap shadow">
        <i class="layui-icon">&#xe715;</i>
        <span class="layui-breadcrumb" lay-separator=">">
            <a href="/">首页</a>
            <a><cite>个人作品</cite></a>
        </span>
    </blockquote>
    <div class="layui-row layui-col-space15">
        @foreach (var item in Model)
        {
            <div class="layui-col-lg3 layui-col-sm4">
                <div class="production-box">
                    <div class="production-cover">
                        <a href="@item.Link" target="_blank">
                            <img src="@item.Cover" alt="@item.Title">
                        </a>
                    </div>
                    <h1 class="production-title"><a href="@item.Link" target="_blank">@item.Title</a></h1>
                    <p class="production-abstract">@item.Intro</p>
                    <div class="production-footer">
                        <a class="layui-btn layui-btn-sm layui-btn-primary" href="@item.Link" target="_blank"><i class="fa fa-eye fa-fw"></i>查看</a>
                        <a class="layui-btn layui-btn-sm layui-btn-primary" href="@item.DownloadUrl" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>
                    </div>
                </div>
            </div>
        }
    </div>
    @*<hr class="layui-bg-blue" />
    <blockquote class="layui-elem-quote" style="background-color:white">前方高能（广告）</blockquote>*@
</div>

<script src="~/lib/layui/layui.js" asp-append-version="true"></script>
